In [1]:
import pandas as pd

In [2]:
PATH = "../datasets/"

In [3]:
data = pd.read_csv(PATH + "cards_waterloo.csv", low_memory=False)
data = data[data.DATASET.isin(["cards", "waterloo"])]
data.sample()

,prompt,claim,PARTITION,labels,sentiment,tweetid,roberta_preprocessed,roberta_pred,roberta_proba,DATASET,...,bertweet_pred,bertweet_proba,gpt-3_curie_pred,gpt-3_curie_proba,electra_pred,electra_proba,xlnet_pred,xlnet_proba,electra_acc_pred,electra_acc_proba
4244,"""In trying to overcome criticism of earlier at...",0_0,TRAIN,0,NaN,NaN,NaN,NaN,NaN,cards,...,0,"[0.999966025352478, 3.3991836971836165e-05]",0,0.931705,0,"[0.9963724613189697, 0.003627509344369173]",0,"[0.9999784231185913, 2.157343624276109e-05]",0,"[0.9682275056838989, 0.0317724347114563]"

In [13]:
data[data.DATASET=="cards"].shape

(28945, 30)

In [6]:
lvl2 = pd.read_csv(PATH + "cards_second_level.csv", low_memory=False)

In [10]:
lvl2.merge(
    data[["prompt", "waterloo-cards_pred", "waterloo-cards_proba"]],
    "inner", left_on="text", right_on="prompt"
).shape

(9113, 10)

In [7]:
lvl2

,text,claim,PARTITION,DATASET,labels,cards_second_level_pred,cards_second_level_proba
0,What do you do if you are a global warming ala...,5_1,TRAIN,cards,15,5_1,[1.07486917e-05 1.83377858e-05 1.42814820e-05 ...
1,"Now, I am very interested in the AMO, since it...",1_1,TRAIN,cards,0,1_1,[8.09811347e-01 3.79437636e-03 1.42601290e-03 ...
2,There could also be other unknown mechanisms d...,2_1,TRAIN,cards,6,2_1,[2.71846113e-05 5.41158768e-05 2.20955374e-05 ...
3,One key problem is the sheer difficulty in bui...,4_4,TRAIN,cards,13,4_4,[9.18336131e-05 4.16765793e-05 5.62739818e-05 ...
4,I am sure that we can expect to see similar co...,1_1,TRAIN,cards,0,1_1,[9.97105992e-01 2.73771816e-04 2.93750140e-04 ...
...,...,...,...,...,...,...,...
9072,none of the Climategate panels mounted an inqu...,5_2,TEST,cards,16,5_2,[3.57666399e-05 2.30363685e-05 1.89122258e-05 ...
9073,Emails Reveal AGs Colluding with Green Groups ...,5_2,TEST,cards,16,5_2,[3.66881847e-05 2.35953229e-05 1.98014574e-05 ...
9074,Even before the Climategate Emails came to lig...,5_2,TEST,cards,16,5_2,[2.50073059e-05 2.11406825e-05 1.55425602e-05 ...
9075,"In the interest of full disclosure, I have bee...",5_2,TEST,cards,16,5_2,[3.28213354e-05 2.84183711e-05 2.00926910e-05 ...
9076,"As readers no doubt know, I have previously ob...",5_2,TEST,cards,16,5_2,[2.91102427e-05 1.93065721e-05 1.61785736e-05 ...